<header>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Import Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <!-- Add the link to the CSS stylesheet here -->
        <link rel="stylesheet" href="/styles/styles.css">
        <!-- Hint: the link is relative to the public folder -->
        <title>Document</title>
    </head>
</header>